.switch {
    position: relative;display: block;
    width: 90px;
    height: 55px;

    input {
        display: none;

        &:checked + .slider {
            background-color: #333;            
        }
        
        &:checked + .slider::before {
            transform: translateX(47px) rotateZ(45deg);
            background: #ebcd4c;
        }
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .5s;
    border: 3px solid #333;

    &::before{
        position: absolute;
        content: '';
        bottom: 14px;
        top: 8px;
        background: #333;
        transition: .5s;
    }

    &.round {
        border-radius: 35px;

        &::before {
            width: 43%;
            height: 43%;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            transform: rotateZ(-45deg);
        }
    }
}